<div class="container">
<%= form_for(@listum) do |f| %>
  <% if @listum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listum.errors.count, "error") %> prohibited this listum from being saved:</h2>
      <ul>
      <% @listum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :preciomxn %><br>
    <%= f.text_field :preciomxn, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>
