 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<div class="center">
  <div class="mosaico">
      <div class="row-stack">
        <% @lista.each do |listum| %>
          <div class="col-sm-3">
            <div class="thumbnail">
              <div class="caption color-gray">
                <div class="row">
                  <div class="col-xs-6">
                    <h3 class="text-center"><%= listum.nombre %></h3>
                  </div>
                  <div class="col-xs-6">
                    <% preciobtc = (listum.preciomxn * @mxnbtc.mxnbtc) %>
                    <% if preciobtc >= 1 %>
                     <h4>BTC <%= preciobtc %></h4> 
                   <% else%>
                     <h4>mBTC <%= preciobtc * 1000%></h4> 
                   <% end%>                     
                    <p class="preciomxn"><%= number_to_currency(listum.preciomxn) %> MXN </p>
                  </div>
                </div>
              </div>
                <div class="img-bg">
                  <img data-src="holder.js/200x200" alt="..." src="/assets/card.png">
                </div>
             <div class="caption">
              <p class="descripcion"><%= listum.descripcion %></p>
               <p class="btn-shop-car"><a href="#" class="btn btn-default" role="button">Añadir a carrito</a></p>
              </div>
            </div>
          </div> <!-- div col-md-3 -->
        <% end %>
      </div> <!-- class row -->
  </div> <!-- mosaico -->
</div> <!-- center -->
<br>

  <%= link_to 'Agregar Producto', new_listum_path, class: "btn btn-link" %>
